[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="dev-expense-rds.clcucwu2kydp.us-east-1.rds.amazonaws.com"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target